<!DOCTYPE html>
<html lang="kr">

    {{> /include/head }}
<body>

    {{> /include/navigation }}


<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
          <ul class="list">
              {{^questions}}
              <h1 class="text-center">질문이 존재하지 않습니다.</h1>
              {{/questions}}
              {{#questions}}
              <li>
                  <div class="wrap">
                      <div class="main">
                          <strong class="subject">
                              <a href="question/{{no}}">{{title}}</a>
                          </strong>
                          <div class="auth-info">
                              <i class="icon-add-comment"></i>
                              <span class="time">{{getFormattedCreatedDate}}</span>
                              <a href="../static/user/profile.html" class="author">{{writer.id}}</a>
                          </div>
                          <div class="reply" title="댓글">
                              <i class="icon-reply"></i>
                              <span class="point">{{countOfAnswer}}</span>
                          </div>
                      </div>
                  </div>
              </li>
              {{/questions}}
          </ul>
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 text-center">
                  <ul class="pagination" id="pagination">
                  </ul>
              </div>
              <div class="col-md-3 qna-write">
                  <a href="/question/form" class="btn btn-primary pull-right" role="button">질문하기</a>
              </div>
          </div>

          <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6 text-center">
                      <form class="navbar-form" action="">
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search" name="query" id="srch-term" value="{{query}}">
                              <div class="input-group-btn">
                                  <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="col-md-3"></div>
              </div>
        </div>
    </div>
</div>
    {{> /include/script }}

	</body>
</html>

<script>

    $(document).ready(function(){

        var firstPageBlock = parseInt("{{firstPageBlock}}");
        var lastPageBlock = parseInt("{{lastPageBlock}}");
        var totalPage = parseInt("{{totalPage}}");

        var nowPage = parseInt("{{nowPage}}");

        console.log(firstPageBlock, lastPageBlock)

        var html = "";
        var active = ""
        for (var i = firstPageBlock; i <= lastPageBlock; i++){
            if(i==firstPageBlock && firstPageBlock!=0){
                html += "<li>" +
                    "      <a href='/?pageNo=0' aria-label='Previous'>" +
                    "        <span aria-hidden='true'><<</span>" +
                    "      </a>" +
                    "    </li>"
                html += "<li>" +
                    "      <a href='/?pageNo="+(nowPage-1)+"' aria-label='Previous'>" +
                    "        <span aria-hidden='true'><</span>" +
                    "      </a>" +
                    "    </li>"

            }

            active = nowPage == i ? "active" : "";
            html += "<li class='"+active+"'><a href='/?pageNo="+i+"'>"+(i+1)+"</a></li>"

            if(i== lastPageBlock && lastPageBlock+1!=totalPage){
                html += "<li>" +
                    "      <a href='/?pageNo="+(nowPage+1)+"' aria-label='Next'>" +
                    "        <span aria-hidden='true'>></span>" +
                    "      </a>" +
                    "    </li>"
                html += "<li>" +
                    "      <a href='/?pageNo="+(totalPage-1)+"' aria-label='Next'>" +
                    "        <span aria-hidden='true'>>></span>" +
                    "      </a>" +
                    "    </li>"
            }
        }

        $("#pagination").html(html);

    });

</script>